@import './base.css';

:root {
  --bright-white: #e0e0e0;
  --gold: #ffc107;
  --green: #00c853;
  --soft-white: #bdbdbd;
  --tasteful-red: #ef5350;
}

body {
  padding-top: 1em;
}

#app {
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
